* {
      /* Aplica formatação para todas as tags */
      margin: 0px;
      box-sizing: border-box;

    }

    @font-face {
      font-family: "YoungSerif";
      src: url("/recipe-page-main/assets/fonts/young-serif/YoungSerif-Regular.ttf")format("truetype");
      font-weight: normal;
      font-style: normal;
    }

    @font-face {
      font-family: "Outfit";
      src: url("/recipe-page-main/assets/fonts/outfit/Outfit-VariableFont_wght.ttf");
      font-weight: 400;
      font-style: normal;
    }

    body {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      /* tirei o heigh: 100vh */
      background-color: hsl(30, 54%, 90%);
      font-family: "YoungSerif", serif;
      padding-top: 100px;
      margin-bottom: 100px;
    }
     @media (max-width: 500px) {
      body {
        padding-top: 0;
        margin-bottom: 0;
      }
    }

    .container {
      background: white;
      max-height: auto;
      max-width: 780px;
      padding: 30px;
      border-radius: 20px;

    }

    img {
      height: auto;
      /*Se ajusta ao container */
      max-width: 100%;
      /* Nunca passa da largura do Container */
      display: block;
      /* remove espaçamento de linha */
      border-radius: 20px;
    }

    main {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: left;
      gap: 20px;

    }

    .preparation {
      padding: 30px;
      width: 100%;
      background-color: hsl(330, 100%, 98%);
    }

    .ingredients {
      width: 100%;
      padding: 0%;
    }

    .nutrition {
      width: 100%;
    }


    section {
      display: flex;
      flex-direction: column;
      justify-self: left;
      gap: 20px;

    }

    h1 {
      text-align: left;
      font-family: "Outfit", sans-serif;
      font-size: 50px;

    }

    h2 {
      font-family: "Outfit", sans-serif;
      color: hsl(14, 45%, 36%);
      font-size: 30px;

    }

    h3 {
      color: hsl(332, 51%, 32%);
      font-family: "Outfit", sans-serif;
      font-size: 25px;
    }

    p {
      font-size: 16px;
    }

    li {
      padding-left: 30px;
      padding: 10px;
      font-size: 16px;
    }

    ul li::marker {
      color: hsl(14, 45%, 36%);
    }

    ol li::marker {
      /*Colorindo apenas os números*/
      color: hsl(14, 45%, 36%);
      font-size: 18px;
      font-weight: 600;
    }

    td {
      padding: 10px;
    }

    span {
      color: hsl(14, 45%, 36%);
      font-weight: 600;


    }

    .attribution {
      font-size: 11px;
      text-align: center;
    }

    .attribution a {
      color: hsl(228, 45%, 44%);
    }